In [1]:
import pandas as pd
from category_encoders import TargetEncoder, OrdinalEncoder
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import GradientBoostingRegressor

In [2]:
!pip install pdpbox

Requirement already satisfied: pdpbox in /opt/anaconda3/lib/python3.8/site-packages (0.2.1)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.8/site-packages (from pdpbox) (0.17.0)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.8/site-packages (from pdpbox) (1.5.2)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (from pdpbox) (1.1.3)
Requirement already satisfied: matplotlib==3.1.1 in /opt/anaconda3/lib/python3.8/site-packages (from pdpbox) (3.1.1)
Requirement already satisfied: psutil in /opt/anaconda3/lib/python3.8/site-packages (from pdpbox) (5.7.2)
Requirement already satisfied: sklearn in /opt/anaconda3/lib/python3.8/site-packages (from pdpbox) (0.0)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.8/site-packages (from pdpbox) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->pdpbox) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->pdpbox) (2020.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib==3.1.1->pdpbox) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib==3.1.1->pdpbox) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib==3.1.1->pdpbox) (2.4.7)
Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.8/site-packages (from sklearn->pdpbox) (0.24.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->pdpbox) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn->pdpbox) (2.1.0)

In [3]:
df = pd.read_csv('/Users/harleyhoffmann/dat-02-22/ClassMaterial/Unit2/data/master.csv')

In [5]:
y = df['visitors']

In [7]:
X = df[['id', 'day_of_week']]

In [10]:
te = TargetEncoder()
X['id'] = te.fit_transform(df['id'], y)

/opt/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
<ipython-input-10-4ad4c6451d45>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['id'] = te.fit_transform(df['id'], y)

In [11]:
X.head()

          id day_of_week
0  22.782609   Wednesday
1  22.782609    Thursday
2  22.782609      Friday
3  22.782609    Saturday
4  22.782609      Monday

In [12]:
import numpy as np

In [13]:
ore = OrdinalEncoder()
X['day_of_week'] = ore.fit_transform(X['day_of_week'])

<ipython-input-13-7e2d47fa91db>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['day_of_week'] = ore.fit_transform(X['day_of_week'])

In [14]:
mod = GradientBoostingRegressor()
mod.fit(X,y)

GradientBoostingRegressor()

In [15]:
X_copy = X.copy()

In [16]:
X_copy['pred'] = mod.predict(X)

In [19]:
X_copy.head()

          id  day_of_week       pred
0  22.782609            1  20.893779
1  22.782609            1  20.812235
2  22.782609            1  25.809354
3  22.782609            1  28.994352
4  22.782609            1  18.205765

In [24]:
X_copy['day_of_week'] = 2

In [25]:
X_copy['tue_pred'] = mod.predict(X_copy.iloc[:,:2])

In [26]:
X_copy

               id  day_of_week       pred   mon_pred   tue_pred
0       22.782609            2  20.893779  20.893779  20.812235
1       22.782609            2  20.812235  20.893779  20.812235
2       22.782609            2  25.809354  20.893779  20.812235
3       22.782609            2  28.994352  20.893779  20.812235
4       22.782609            2  18.205765  20.893779  20.812235
...           ...          ...        ...        ...        ...
252103  44.595745            2  47.473078  43.294863  43.134811
252104  44.595745            2  48.760131  43.294863  43.134811
252105  44.595745            2  52.155085  43.294863  43.134811
252106  44.595745            2  37.417854  43.294863  43.134811
252107  44.595745            2  52.155085  43.294863  43.134811

[252108 rows x 5 columns]

In [27]:
X_copy['mon_pred'].mean()

19.19267064361518

In [29]:
X_copy['tue_pred'].mean()

19.08675573747298

In [30]:
df = pd.read_csv('/Users/harleyhoffmann/dat-02-22/ClassMaterial/Unit3/data/ks2.csv', parse_dates=['deadline', 'launched' ])

In [31]:
df

,ID,name,category,main_category,currency,deadline,launched,state,country,goal
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,GB,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,US,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,US,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,US,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,2015-07-04 08:35:03,failed,US,19500.00
...,...,...,...,...,...,...,...,...,...,...
370449,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,2014-09-17 02:35:30,failed,US,50000.00
370450,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,2011-06-22 03:35:14,failed,US,1500.00
370451,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,2010-07-01 19:40:30,failed,US,15000.00
370452,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,2016-01-13 18:13:53,failed,US,15000.00
370453,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2011-07-19 09:07:47,failed,US,2000.00

In [36]:
import xgboost as xgb
import numpy as np
import pandas as pd
from sklearn.ensemble import GradientBoostingClassifier
from utils import extract_dates, get_val_scores
from sklearn.model_selection import cross_val_score, train_test_split

In [37]:
df = extract_dates(df)
df.columns

/Users/harleyhoffmann/dat-02-22/ClassMaterial/Unit3/Class14/utils.py:28: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df[col_name] = getattr(df[col].dt, part)

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'launched', 'state', 'country', 'goal', 'deadline_dayofweek',
       'deadline_dayofyear', 'deadline_days_in_month', 'deadline_is_leap_year',
       'deadline_is_month_end', 'deadline_is_month_start',
       'deadline_is_quarter_end', 'deadline_is_quarter_start',
       'deadline_is_year_end', 'deadline_is_year_start', 'deadline_quarter',
       'deadline_week', 'deadline_weekofyear', 'deadline_day', 'deadline_hour',
       'deadline_minute', 'deadline_month', 'deadline_year',
       'launched_dayofweek', 'launched_dayofyear', 'launched_days_in_month',
       'launched_is_leap_year', 'launched_is_month_end',
       'launched_is_month_start', 'launched_is_quarter_end',
       'launched_is_quarter_start', 'launched_is_year_end',
       'launched_is_year_start', 'launched_quarter', 'launched_week',
       'launched_weekofyear', 'launched_day', 'launched_hour',
       'launched_minute', 'launched_month', 'launched_year',
       'deadline_history_days', 'launched_history_days'],
      dtype='object')

In [38]:
mod1 = xgb.XGBClassifier()

In [39]:
mod1.get_params()

{'objective': 'binary:logistic',
 'use_label_encoder': True,
 'base_score': None,
 'booster': None,
 'colsample_bylevel': None,
 'colsample_bynode': None,
 'colsample_bytree': None,
 'gamma': None,
 'gpu_id': None,
 'importance_type': 'gain',
 'interaction_constraints': None,
 'learning_rate': None,
 'max_delta_step': None,
 'max_depth': None,
 'min_child_weight': None,
 'missing': nan,
 'monotone_constraints': None,
 'n_estimators': 100,
 'n_jobs': None,
 'num_parallel_tree': None,
 'random_state': None,
 'reg_alpha': None,
 'reg_lambda': None,
 'scale_pos_weight': None,
 'subsample': None,
 'tree_method': None,
 'validate_parameters': None,
 'verbosity': None}

In [40]:
pipe = make_pipeline(OrdinalEncoder(), mod1)

In [41]:
X = df.drop(['deadline','launched','state'], axis=1)
y = df['state']

In [42]:
?get_val_scores

In [43]:
??get_val_scores

In [44]:
scores = get_val_scores(pipe, X, y, return_test_score=True, random_state=1985, stratify=True, use_kfold=False)

/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[18:40:33] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/opt/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[18:41:55] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [45]:
scores

{'validation_score': 0.7248325544514366, 'test_score': 0.7005304287970199}