In [12]:
import pandas as pd
import numpy as np
pd.options.plotting.backend = "plotly"

In [13]:
df = pd.read_csv('/Users/harleyhoffmann/dat-02-22/ClassMaterial/Unit3/data/housing.csv')

In [14]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [15]:
pred = df['PRICE'].mean()

In [17]:
df['PRICE'] - pred
#checking the difference from actual price by subtracting the prediction

0       1.467194
1      -0.932806
2      12.167194
3      10.867194
4      13.667194
         ...
501    -0.132806
502    -1.932806
503     1.367194
504    -0.532806
505   -10.632806
Name: PRICE, Length: 506, dtype: float64

In [20]:
root_error = np.mean((df['PRICE'] - pred)**2)
#calculating the root error for the set - 84.4

In [22]:
df['CHAS'].unique()

array([0, 1])

In [23]:
left_side = df[df['CHAS'] < 1]
right_side = df[df['CHAS'] >= 1]
#taking a single data point and splitting it, if we split it on any column our info gain will change

In [27]:
right_pred = right_side['PRICE'].mean()
left_pred = left_side['PRICE'].mean()

right_error = np.mean((right_side['PRICE'] - right_pred)**2)
left_error = np.mean((left_side['PRICE'] - left_pred)**2)

#calculate the error, square that number, take it's average

In [29]:
left_error

77.82737185641962

In [30]:
right_error

135.64354285714285

In [32]:
left_side.shape

(471, 14)

In [33]:
right_side.shape

(35, 14)

In [34]:
#if something has more samples, you have to assign a weight
left_weight = left_side.shape[0] / df.shape[0]
right_weight = right_side.shape[0] / df.shape[0]

In [35]:
left_weight

0.9308300395256917

In [36]:
right_weight

0.0691699604743083

In [37]:
right_weight + left_weight

1.0

In [38]:
root_error - (left_weight * left_error) - (right_weight * right_error)
#multitplying the weight / numrows by the error

2.593042036850102

In [39]:
info_gain = root_error - (left_weight * left_error) - (right_weight * right_error)
#make it a variable

In [40]:
info_gain

2.593042036850102

In [41]:
from sklearn.tree import DecisionTreeRegressor

In [47]:
# you have to initialize the algorithm
tree = DecisionTreeRegressor(max_depth=3)

In [48]:
tree.get_params()

{'ccp_alpha': 0.0,
 'criterion': 'mse',
 'max_depth': 3,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}

In [49]:
# if supervised, you must declare depending y and independent x variables
y = df['PRICE']
x = df.drop('PRICE', axis=1)
#everything in x is the rest of the table

In [50]:
tree.fit(x,y)
#you have to fit your model with params

DecisionTreeRegressor(max_depth=3)

In [55]:
df['Prediction'] = tree.predict(x)
# Price prediction

In [54]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE,Prediction
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,22.905200
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,22.905200
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,33.348837
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,33.348837
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,33.348837

In [56]:
tree.score(x,y)

0.8177924678036443

In [ ]:
#import scikit
#set your parameters
#declare variables
#fit 
#predict, make a nice new column