In [3]:
# conditional logic -- make comparison between values
first_name == 'jonathan'

False

In [4]:
# are the values different?
first_name != 'jonathan'

True

In [5]:
age > 36

False

In [6]:
age >= 36

True

In [7]:
type(first_name != 'jonathan')

bool

In [8]:
type(35)

int

In [9]:
True

True

In [10]:
False

False

In [11]:
first_name == 'Jonathan'

True

In [17]:
first_name == 'Jonathan'

True

In [54]:
# create some variables
first_name = 'andrew'
last_name  = 'smith'
age        = 36

In [55]:
if first_name == 'Jonathan' or first_name == 'jonathan':
    # if true -- do all of this stuff
    print(f"Your name is: {first_name.upper()}")
    if last_name == 'Bechtel':
        print(f"Your last name is: {last_name}")
        print("Applies to the inner if")
    else:
        print("Your last name is something else")
    print("Is True regardless")
elif first_name == 'joe':
    print(f"Your name is: {first_name}")
else:
    print("Nothing was True")
    print("Still in the else statement")

Nothing was True
Still in the else statement

In [12]:
first_name == 'Jonathan'

True

In [39]:
True and False

False

In [49]:
if {'something'}:
    print("Does it print?")

Does it print?

In [57]:
first_name = input("Please enter your name: ")

Please enter your name: Adam

In [58]:
first_name

'Adam'

In [ ]:
temperature = 67
raining = True

In [ ]:
if temperature < 60 and raining:
    print()
elif temperature < 60 and sun_is_shining:
    print()

In [59]:
input("Please enter your name: ")

Please enter your name: uma

'uma'

In [62]:
var = 'thisismystring'

In [63]:
var.isalpha()

True

In [ ]:
import re

In [64]:
var

'thisismystring'

In [65]:
var[0]

't'

In [66]:
var.isnumeric()

False

In [67]:
var = '238495'

In [68]:
var.isnumeric()

True

In [69]:
var = 'password1'

In [73]:
var[2].isalpha()

True

In [ ]:
has_one_number = False

for char in var:
    if char.isnumeric():
        has_one_number = True
        break

In [74]:
# lists store things
our_list = ['this', 'that', 'something else', 4, 6, 8, True, False, [2, 4, 6]]

In [75]:
# lists have an index position
our_list[0]

'this'

In [76]:
our_list[1]

'that'

In [77]:
our_list[2]

'something else'

In [80]:
our_list[-3]

True

In [81]:
var

'password1'

In [82]:
var[0]

'p'

In [83]:
var[1]

'a'

In [84]:
our_list[1]

'that'

In [86]:
our_list[-1][-1]

6

In [87]:
our_list[2] = 'hi'

In [88]:
our_list

['this', 'that', 'hi', 4, 6, 8, True, False, [2, 4, 6]]

In [90]:
our_list[-1][-1] = 'the last inner item'

In [91]:
our_list

['this', 'that', 'hi', 4, 6, 8, True, False, [2, 4, 'the last inner item']]

In [92]:
a = our_list[-1]

In [95]:
b = a[-1]

In [96]:
b

'the last inner item'

In [97]:
our_list[0:4]

['this', 'that', 'hi', 4]

In [98]:
our_list

['this', 'that', 'hi', 4, 6, 8, True, False, [2, 4, 'the last inner item']]

In [100]:
our_list[:4]

['this', 'that', 'hi', 4]

In [101]:
our_list[4:]

[6, 8, True, False, [2, 4, 'the last inner item']]

In [102]:
our_list[-3:]

[True, False, [2, 4, 'the last inner item']]

In [103]:
our_list[-3]

True

In [104]:
our_list

['this', 'that', 'hi', 4, 6, 8, True, False, [2, 4, 'the last inner item']]

In [105]:
our_list[:-3]

['this', 'that', 'hi', 4, 6, 8]

In [106]:
our_list

['this', 'that', 'hi', 4, 6, 8, True, False, [2, 4, 'the last inner item']]

In [110]:
# you can loop through each item in a list
string_list = []

for kitten in our_list:
    if type(kitten) == str:
        string_list.append(kitten)

In [111]:
string_list

['this', 'that', 'hi']

In [112]:
import os

In [113]:
pwd

'C:\\Users\\Jonat\\dat-02-22\\ClassMaterial\\Unit1\\Class2'

In [114]:
os.listdir()

['.ipynb_checkpoints', 'Class 2 Notebook.ipynb', 'Labs']

In [ ]:
downloads_url = 'C:\Users\Jonat\Downloads'

In [115]:
cd ..

C:\Users\Jonat\dat-02-22\ClassMaterial\Unit1

In [116]:
cd ..

C:\Users\Jonat\dat-02-22\ClassMaterial

In [117]:
cd ../..

C:\Users\Jonat

In [118]:
cd Downloads

C:\Users\Jonat\Downloads

In [120]:
for file in os.listdir():
    if file[-3:] == 'csv':
        print(file)

09-19-Amazon-Ranking-Analysis.csv
1500340.csv
1500343.csv
1500345.csv
AAPL (1).csv
AAPL.csv
accessKeys.csv
AirPassengers.csv
all-states-history (1).csv
all-states-history.csv
amis (1).csv
amis.csv
AMZN.csv
bike_requests.csv
births.csv
calendar.csv
callers.csv
credentials (1).csv
credentials (2).csv
credentials (3).csv
credentials (4).csv
credentials.csv
daily (1).csv
daily (2).csv
daily (3).csv
daily (4).csv
daily (5).csv
daily (6).csv
daily.csv
DAT-07-28 Github Repos - Sheet1.csv
data (1).csv
data (2).csv
data (3).csv
data (4).csv
data (5).csv
data.csv
expanding_mapping_capabilities_custom_geocoding_csv
FB.csv
filestream.csv
file_upload_csv_template_08122008.csv
GitHub Repos - Sheet1 (1).csv
GitHub Repos - Sheet1.csv
Github Repos DAT-10-19 - Sheet1.csv
glass.csv
GOOGL.csv
grocery_sales.csv
IEF.csv
IMDB Dataset.csv
initial_submit (1).csv
initial_submit (2).csv
initial_submit.csv
insurance_premiums.csv
iowa_housing.csv
lreg_answers.csv
mixture.csv
MSFT (1).csv
MSFT.csv
national-history.csv
Output.csv
Owners.csv
pctgrowth.csv
Pets.csv
potions.csv
predictions_for_movies_zeroed.csv
ProceduresDetails.csv
ProceduresHistory-1.csv
repos.csv
rootkey (1).csv
rootkey.csv
s&p.csv
Salvirt_B2B_ML_dataset.csv
sample.csv
sheetal.csv
slack-datasciencewebinars-members.csv
SPCE.csv
Spotify_Data.csv
sp_500.csv
sqf-2015.csv
StackingSubmission.csv
submission (1).csv
submission (2).csv
submission.csv
taxi (1).csv
taxi.csv
taxi_new.csv
test (1).csv
test (2).csv
test.csv
titanic (1).csv
titanic (2).csv
titanic.csv
titanic_submissions.csv
titanic_test.csv
tmdb_movies_data.csv
train (1).csv
train.csv
training.1600000.processed.noemoticon.csv
weekly-equity (1).csv
weekly-equity (2).csv
weekly-equity (3).csv
weekly-equity (4).csv
weekly-equity.csv
^GSPC (1).csv
^GSPC (2).csv
^GSPC.csv
^VIX.csv
_244865a4d5a9a1dfcba2c8b19040de4f_callers.csv
_a0f69303566ab5afce696cd01f5f9a90_daily-total-female-births-in-cal (1).csv

In [121]:
# sample data
users = [
    ('John', 34, None), ('Abby', 21, 'NY'), ('Jill', 41, 'OH'), ('Jason', 59, 'AL'), ('William', 35, None),
    ('Wynona', 62, 'WY'), ('Barbara', 42, None), ('Harold', 52, None), ('Jose', 41, 'NH'), ('Ariel', 48, 'OR')
]

In [125]:
invalid_users = []

for user in users:
    if type(user) == tuple:
        for item in user:
            if item == None:
                invalid_users.append(user)

In [126]:
invalid_users

[('John', 34, None),
 ('William', 35, None),
 ('Barbara', 42, None),
 ('Harold', 52, None)]

In [127]:
var

'password1'

In [128]:
type(var)

str

In [129]:
def check_num(number):
    if number == 1:
        return 'line'
    else:
        return 'lines'

In [130]:
check_num(2)

'lines'

In [131]:
check_num(1)

'line'

In [134]:
lines_of_code = 0

print(f"I have {lines_of_code} {check_num(lines_of_code)} of code!")

I have 0 lines of code!